<h1>Prenom : <%= @corsair.first_name %></h1>

<p>Age : <%= @corsair.age %></p>

<p>
	<td><%= link_to 'Edition', edit_corsair_path %></td>
	<td><%= link_to 'Retour à la liste', corsairs_path %></td>
</p>